:root {
    --vermelho: #e50914;
    --preto: #141414;
    --branco: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
}

//heading
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header #logo {
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 5px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-weight: 700;
}

header nav a:hover {
    color: #fff;
}

//principal
.outdoor {
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../data/img/poster.jpg);
    height: 500px;
    background-size: cover;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.outdoor .description {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 5%;

}

.title {
    margin-top: 5%;
    font-size: 40px;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: rgba(0, 0, 0, .50);
    border: var(--branco) 1px solid;
    color: var(--branco);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--branco);
    color: black;
    transition: .5s ease all;
}

.button i {
    margin-right: 5px;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;

}

.carousel {
    margin-left: 4rem;
    margin-right: 4rem;
}

.outdoor .container {
    width: 70%;
}

.box-film {
    height: 20%;
    width: 20%;
    display: block;
}

.topics {
    font-size: 25px;
    padding: .5rem;
}